/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  width: 100%;
  margin-bottom: 15px;
}

.half {
  width: 47%;
  margin-right: 3%;
  float: left;
}

body {
  width: 1000px;
  display: block;
  margin: 0 auto;
  color: #333;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  letter-spacing: 1.2px;
  font-size: 14px;
  background-color: #eee;
}

.container {
  padding-left: 215px;
  padding-top: 15px;
}

section.block {
  margin-bottom: 15px;
}

section.block:first-child {
  min-height: 300px;
}

section.block header {
  border-radius: 3px 3px 0 0;
  background-color: #e6e6e6;
  padding: 10px 20px;
}

section.block header i {
  margin-right: 10px;
}

section.block article {
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  padding: 15px 20px;
  overflow: auto;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 11px;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #eee;
}

.button {
  margin: 0 10px;
  padding: 5px 15px;
  text-align: center;
  font-weight: 600;
  letter-spacing: inherit;
  text-transform: uppercase;
  background-color: #c2eff5;
  border: 1px solid #80DEEA;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
}

.button:hover {
  background-color: #80DEEA;
}

button[type="submit"] {
  padding: 5px 15px;
  text-align: center;
  font-weight: 600;
  letter-spacing: inherit;
  text-transform: uppercase;
  background-color: #c2eff5;
  border: 1px solid #80DEEA;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
}

button[type="submit"]:hover {
  background-color: #80DEEA;
}

input[type="text"], textarea {
  position: relative;
  top: -5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  border-color: #80DEEA;
  box-shadow: 0 0 1px 2px #c2eff5;
}

.actions input[type="text"] {
  position: relative;
  top: 1px;
}

input[type="file"]:focus {
  outline: none;
  border-color: #80DEEA;
  box-shadow: 0 0 1px 2px #c2eff5;
}

textarea {
  min-height: 100px;
}

form .row {
  display: table;
}

form .row label, form .row input, form .row textarea {
  display: table-cell;
  vertical-align: top;
}

form .row label {
  width: 150px;
}

form .row input[type="text"], form .row textarea {
  width: 70%;
}

.side-nav {
  position: fixed;
  top: 15px;
  width: 200px;
  height: 100vh;
  font-size: 14px;
}

.side-nav ul {
  margin-bottom: 10px;
}

.side-nav li {
  border-bottom: 1px solid #767676;
}

.side-nav li:first-child a {
  border-radius: 3px 3px 0 0;
}

.side-nav li:last-child {
  border-bottom: none;
}

.side-nav li:last-child a {
  border-radius: 0 0 3px 3px;
}

.side-nav li.alone a {
  border-radius: 3px;
}

.side-nav a {
  display: block;
  padding: 15px 10px;
  color: #767676;
  background-color: #2d2b32;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

.side-nav a:hover {
  background-color: #28262c;
  color: #fafafa;
}

.side-nav i {
  margin-right: 10px;
}

.home h2 {
  text-align: center;
  padding: 25px 150px;
}

.project-card {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
  border: 1px solid #80DEEA;
  overflow: auto;
}

.project-card img, .project-card .body {
  float: left;
}

.project-card img {
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid #80DEEA;
}

.project-card .body {
  padding: 10px;
}

.project-card p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}

.project-card ul {
  margin-top: 17px;
}

.project-card li {
  float: left;
  padding: 5px 15px;
  text-align: center;
  font-weight: 600;
  letter-spacing: inherit;
  text-transform: uppercase;
  background-color: #c2eff5;
  border: 1px solid #80DEEA;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
}

.project-card li:hover {
  background-color: #80DEEA;
}

.project-card li:first-child {
  border-radius: 3px 0 0 3px;
}

.project-card li:last-child {
  border-radius: 0 3px 3px 0;
  border-left: none;
}
