
nav.side-nav
  ul
    li
      a(href="/admin/logout")
        i.ti-user
        | Logout
    li
      a(href="/")
        i.ti-desktop
        | Go to site
  ul
    li
      a(href="/admin/home")
        i.ti-home
        | Home
    li
      a(href="/admin/projects")
        i.ti-layout-media-overlay-alt-2
        | Projects
    li
      a(href="/admin/contact")
        i.ti-mobile
        | Contact
