extends ../layout_admin

block content
	div.container
		section
			h1 Bienvenue dans l'admin de ton portfolio!
			h2 Ceci est un texte deuxième niveau
			h3 Ceci est un texte troisième niveau
			h4 Ceci est un texte quatrième niveau