extends ../layout_admin

block content
  article

    form

      div.row
        h4 TEXT

      span.divider

      div.row
        label(for="published") Published?
        input(type="radio", id="published_yes", name="published", value="yes", v-model="project.published", checked)
        span Yes
        input(type="radio", id="published_no", name="published", value="no", v-model="project.published")
        span No

      div.row
        label(for="title") Title :
        input(type="text", id="title", name="title", v-model="project.title")

      div.row
        label(for="description") Description :
        textarea(id="description", name="description" v-model="project.description")

      div.row
        label(for="link") Link :
        input(type="text", id="link", name="link", v-model="project.link")

      div.row
        label(for="categories") Categories :
        input(type="text", id="categories", name="categories", v-model="project.categories")

      div.row
        label(for="credits") Credits :
        input(type="text", id="credits", name="credits", v-model="project.credits")

      div.row
        h4 IMAGES

      span.divider

    form(action="/api/upload", method="post", enctype="multipart/form-data", id="fileForm")

      div.row
        label(for="thumbnail") Thumbnail :
        input(type="file", id="thumbnail", name="pictures", v-model="project.thumbnail")
        span File currently loaded: {{ thumbnail }}

      div.row
        label(for="cover") Cover :
        input(type="file", id="cover", name="pictures", v-model="project.cover")
        span File currently loaded: {{ cover }}

      span.divider

      div.row
        button(type="submit", v-on="click: saveProject($event)") #{action}

      div.row
        p(v-if="status", class="{{status}}") {{message}}
