
h1, h2, h3 {
	font-family: SourceCode, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}

p {
	margin: 15px 0;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1px;
	font-family: SourceSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

strong {
	font-weight: 400;
}
