@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Semibold.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-ExtraLight.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-Semibold.ttf");
  font-weight: 600;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3 {
  font-family: SourceCode, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500; }

p {
  margin: 15px 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: SourceSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

strong {
  font-weight: 400; }

body {
  background-color: red; }

header {
  position: relative;
  width: 100%;
  min-height: 631px;
  background-color: #333; }
  header
h1 {
    position: absolute;
    right: 5%;
    top: 200px;
    width: 40%;
    min-width: 200px;
    font-size: 60px; }

h2 {
  font-size: 36px; }

.col {
  display: block;
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none; }

section {
  display: table;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  background-color: #fafafa;
  border: 0.5px solid #e0e0e0; }

footer {
  clear: both;
  padding: 50px 0;
  text-align: center;
  background-color: #ffaaaa; }

.five {
  background-color: #afafaf; }

.divided {
  padding: 0; }
  .divided
.division {
    display: table;
    box-sizing: border-box;
    border-right: 1px solid #fafafa;
    float: left;
    height: 100%; }
    .divided
.division
p {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
