@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Semibold.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: SourceSans;
  src: url("./fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-ExtraLight.ttf");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-Medium.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: SourceCode;
  src: url("./fonts/SourceCodePro-Semibold.ttf");
  font-weight: 600;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fafafa; }

body, textarea {
  font-family: SourceSans, "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h1, h2, h3, h4 {
  color: #333;
  font-family: SourceCode, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500; }

p, a {
  margin: 15px 0;
  color: #333;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: SourceSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

strong {
  font-weight: 400; }

input {
  font-size: 12px; }

textarea {
  font-size: 13px; }

header {
  position: relative;
  width: 100%;
  min-height: 631px;
  overflow: hidden;
  background-color: #333;
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center center; }
  header
h1 {
    position: absolute;
    right: 5%;
    top: 200px;
    width: 40%;
    min-width: 200px;
    font-size: 60px; }
  header > div {
    position: absolute;
    top: 315px;
    left: 25%; }
  header div {
    width: 100%;
    border-top: 2px solid rgba(30, 30, 30, 0.34);
    display: block;
    -webkit-transform: rotate(185deg) scale(1) translate3d(0em, 2em, 0);
            transform: rotate(185deg) scale(1) translate3d(0em, 2em, 0); }

@media screen and (max-width: 720px) {
  header {
    min-height: 300px; } }

.col {
  display: block;
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none; }

.card {
  display: table;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 30px 0;
  background-color: #fafafa;
  max-height: 700px; }

.card__title,
.card__content {
  max-width: 700px;
  padding: 0 30px;
  display: block;
  margin: 15px auto; }

.card__content--table {
  display: table;
  height: 90%; }
  .card__content--table
div {
    display: table-cell;
    vertical-align: middle; }
  .card__content--table
p {
    max-width: 500px; }

.card__image {
  max-width: 500px;
  width: 90%; }

.card__project {
  margin-top: 30px;
  width: 50%;
  float: left; }
  .card__project
img {
    width: 90%;
    max-height: 100px; }

.divided {
  padding: 0; }
  .divided
.division {
    display: table;
    box-sizing: border-box;
    border-right: 1px solid #fafafa;
    float: left;
    height: 100%; }
    .divided
.division
p {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }

@media screen and (max-width: 720px) {
  .col {
    width: 100%; } }

@media screen and (max-width: 500px) {
  .card__project {
    width: 100%; } }

.slider {
  clear: both;
  display: block;
  width: 100%;
  float: left; }

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center; }

.contact {
  padding: 40px 0;
  clear: both; }
  .contact a {
    text-decoration: none; }
  .contact form {
    padding: 0 10%;
    margin: 30px 0; }

.email-form, .media {
  display: inline-block;
  width: 50%;
  padding: 30px 60px;
  vertical-align: top;
  box-sizing: border-box; }

.media__personnal {
  margin-bottom: 35px; }
  .media__personnal a {
    vertical-align: 4px;
    font-size: 16px;
    margin-left: 10px; }
  .media__personnal p {
    padding-left: 10%;
    margin: 30px 0; }

.media__external a {
  display: inline-block;
  margin: 30px 0;
  width: 25%;
  text-align: center; }

footer {
  clear: both;
  padding: 50px 0;
  text-align: center;
  background-color: #333; }
  footer p {
    color: #444; }

button, .button {
  padding: 10px 40px;
  margin-top: 30px;
  background-color: #e5c100;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
  border: none;
  cursor: pointer; }

.form__group {
  margin-top: 30px; }
  .form__group label {
    display: block;
    margin-bottom: 15px;
    font-size: 14px; }
  .form__group input, .form__group textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #e0e0e0; }
    .form__group input:focus, .form__group textarea:focus {
      box-shadow: 0 0 5px 0 #bfbfbf; }

.home h3 {
  text-align: center; }
