header
{
	position: relative;
	width: 100%;
	min-height: 631px;
	overflow: hidden;
	background-color: #333;
	background-image: url('../images/header.png');
	background-size: cover;
	background-position: center center;

	h1
	{
		position: absolute;
		right: 5%;
		top: 200px;
		width: 40%;
		min-width: 200px;
		font-size: 60px;
	}

	.buttons
	{
		position: relative;
		left: 30px;
		top: 40vh;
	}

}

@media screen and (max-width: 720px) {

	header
	{
		height: 300px !important;
	}

	.buttons
	{
		top: 250px;
	}

}