.slider {
	clear: both;
	display: block;
	width: 100%;
	float: left;
}

.slide {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@media screen and (max-width: 720px) {
	.slide
	{
		background-position: 40% 315px;
	}
}
